<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839751815101-q7kvfl6ecbrc7ptfnq6vgu8c1bejg6dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839751815101-q7kvfl6ecbrc7ptfnq6vgu8c1bejg6dp</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnOjbuk6GGOVoZ08xwtbGVUD_pK1LtP8</string>
	<key>GCM_SENDER_ID</key>
	<string>839751815101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expiryDate</string>
	<key>PROJECT_ID</key>
	<string>expiry-date-d0fed</string>
	<key>STORAGE_BUCKET</key>
	<string>expiry-date-d0fed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839751815101:ios:f2a1535ae71e9675028cd4</string>
</dict>
</plist>